@media print {
  body * {
    visibility: hidden;
	}

  #printable, #printable * {
    visibility: visible;
	}

  #printable {
    position: fixed;
    left: 0;
    top: 0;
	}

	.imprime-atrasos-obras > thead > tr > th:nth-child(4) {
		display: none;
	}

	.imprime-atrasos-obras > tbody > tr > td:nth-child(4) * {
		display: none;
	}

	.imprime-multas > thead > tr > th:nth-child(5) {
		display: none;
	}

	.imprime-multas > tbody > tr > td:nth-child(5) * {
		display: none;
	}
}

.resposta-relatorio-biblioteca{
  margin-bottom: 5%;
}
