*
{
	font-family: 'Montserrat', sans-serif;
}

a
{
	margin: 0;
	padding: 0;
	text-align: center;
}

.delete
{
	background-color: #E53935;
}

.edit
{
	background-color: #2C46A5;
}

.new
{
	background-color: #00B0FF;
}

h1
{
	background-color: #29A58C;
	font-size: 32px;
	margin-left: 5%; margin-right: 5%;
	width: 90%;
	padding: 1%;
	color: #FDFBF9;
}

/* Tela Inicial Professor */
#listagemDisciplinas
{
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #E1E4F0;
    height: 40vh;
    margin-top: 2%;
    padding-top: 5%;
}

/* Tela Disciplina Professor */
#conteudo, #atividade
{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
	padding-top: 1%; padding-bottom: 2%;
	width: 90% !important;
	background-color: #e5e5e5;
}
.modal .btn-large
{
	margin-top: 4%;
}

.modal
{
	padding: 5%;
}

/* Tela Inicial Aluno */
#aluno .area
{
	padding-bottom: 2%; padding-top: 2%;
	width: 90%;
	margin-left: 5%;
}

/* form */
label
{
	font-size: 15px;
	line-height: 10px;
	color: #29A58C;
}

input
{
	display: block;
	font-style: italic;
}

input .short, input[type=number]:not(.browser-default)
{
	width: 10%;
}

input[type=text]:not(.browser-default).short, input[type=date]:not(.browser-default).short
{
	width: 30%;
	border: none;
	border-bottom: 1px solid #29A58C;
}

textarea:not(.browser-default)
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #29A58C;
}

/* table */

table
{
	width: 80%;
	margin-left: 10%; margin-right: 10%;
	display: block;
	overflow-y: scroll;
	max-height: 30vh;
}

.modal table th, thead
{
	color: #29A58C;
	border-bottom: 1px solid #29A58C;
	text-transform: uppercase;
}

/* Toast */
.erro
{
	background-color: #E53935;
}

.sucesso
{
	background-color: #00E676;
}